<div>
  <mat-toolbar color="primary">{{title}}</mat-toolbar>

  <mat-table #table [dataSource] = "dataSource">

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    <ng-container matColumnDef="key">
      <mat-header-cell *matHeaderCellDef>Property</mat-header-cell>
      <mat-cell *matCellDef="let property">
        <a [routerLink]="['/properties', property.key]">{{property.key}}</a>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="value">
      <mat-header-cell *matHeaderCellDef> Value </mat-header-cell>
      <mat-cell *matCellDef="let property"> {{property.value}} </mat-cell>
    </ng-container>
  </mat-table>
</div>
