<div class="properties-editor">
  <mat-toolbar color="primary">{{title}}</mat-toolbar>

  <mat-card>
    <mat-card-title-group class="fullBleed editing">
      <mat-card-title>{{property?.key}}</mat-card-title>
    </mat-card-title-group>
    <mat-card-content>
      <div fxLayout="column">
        <mat-input-container fxFlex>
          <input matInput placeholder="Property" name="key" [(ngModel)]="property.key">
        </mat-input-container>
        <mat-input-container fxFlex>
          <input matInput placeholder="Value" name="value" [(ngModel)]="property.value">
        </mat-input-container>
      </div>
    </mat-card-content>
    <mat-card-actions fxLayout fxLayoutAlign="center center">
      <button mat-button type="button" (click)="save(property)" title="Save property">Save</button>
      <button mat-button type="button" (click)="cancel(property)" title="Cancel editing">Cancel</button>
    </mat-card-actions>
  </mat-card>
</div>
